body {
}

.nav--bar {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-evenly;
}

main{
    margin-top: .5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main--article {
    flex-basis: 64%;
}

.favorites {
    text-align: center;
    display: flex;
    flex-basis: 33%;
    margin-left: 0px;
}

.favorites--list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    justify-content: space-between;
}

.favorites--card {
    text-align: center;
    display: flex;
    min-width: 48%;
    border: 1px solid black;
}

.photoOfTheDaySection {
    border: .5px solid lightgray;
    justify-content: left;
    flex-basis: 50%;

}

.photoOfTheDayImage {
    height: 400px;
    width: 100%;
    object-fit: cover;
    position: absolute left;
    margin-bottom: 2px;
}

.marsRoverPhotoSection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    justify-content: space-between;
}

.marsRoverCard {
    flex-wrap: wrap;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin: 4px;;

}

.marsRoverPhotosImage {
    height: 200px;
    width: 200px;
    object-fit: cover;

}





